{% extends '@twig/base.html.twig' %}


{% block title %}New Post{% endblock %}

{% block Navigationbar %}

    <li class="quiz-Navigation-bar-li"><a href="{{ path('home_page') }}">Home</a></li>
    <li class="quiz-Navigation-bar-li"><a href="{{ path('questions_page') }}">Quiz</a></li>
    <li class="quiz-Navigation-bar-li"><a class="quiz-a-active" href="{{ path('blog_page') }}"> Blog</a></li>
    <li class="quiz-Navigation-bar-li"><a href="{{ path('shop_page') }}"> Shop</a></li>
{% endblock %}


{% block body %}
    <h1>Create new Post</h1>

    {{ include('blog/post/_form.html.twig') }}

    <a href="{{ path('blog_page') }}">back to list</a>
{% endblock %}
