{# templates/blog/shop_homepage.html.twig #}
{% extends 'linker/linker_base.html.twig' %}

{% block menu_private %}
    <div class="linker-menu-item">
        <a class="linker-menu-item-active" href="{{ path('private_page') }}">private</a>
    </div>
{% endblock menu_private %}

{% block main_grid %}
    <div class="main-grid">
        <!-- Blog entries -->
        <div class="grid-friends">
                <p>{{ app.user.username }}</p>
            <table class="card-items-table">
                <tr>
                    <th class="card-items-table-h">ID</th>
                    <th class="card-items-table-h">Name</th>
                    <th class="card-items-table-h">Url</th>
                    <th class="card-items-table-h">Rate</th>
                    <th class="card-items-table-h">Refresh</th>
                </tr>

                {% for l in links %}
                    <tr>
                        <td>{{ l.id|default('') }}</td>
                        <td>{{ l.name|default('') }}</td>
                        <td>
                            <video width="320" height="240" src="{{ l.url }}" controls>
                                Your browser does not support the video tag.
                            </video>
                            {{ l.url }}
                        </td>
                        <td>{{ l.rate|default(0.0) }}</td>
                        <td><button type="button" onclick="refreshLink({{ l.id }})">refresh</button> <p id="refreshMessage{{ l.id }}"></p></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock main_grid %}

{% block javascripts %}
    <script>
        function refreshLink(id) {
            var xhttp = new XMLHttpRequest();
            console.log(id);
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {

                    console.log(this.response);
                   // var myObj = JSON.parse(this.responseText);
                   // console.log(myObj);
                    document.getElementById("refreshMessage".concat('0')).innerHTML = "ok!!";
                  /*  if (myObj.remainingQuantity == 0){
                        location.reload();
                    }
                    document.getElementById("itemQuantity".concat(id)).innerHTML = myObj.remainingQuantity;
                */
                }

            };
            //xhttp.setRequestHeader("Content-type", "application/json");

            url = "https://akwam.co/movie/2586/s-o-s-survive-or-sacrifice";
            xhttp.open("GET", url, true);
            xhttp.setRequestHeader("Access-Control-Allow-Origin", "*");
            //xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.setRequestHeader("Content-type", "text/html");
            xhttp.send();

        }


    </script>
{% endblock %}